@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: hsl(228, 39%, 23%);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    max-width: 100vw;
    /* background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: top -110px right -160px;
    background-size: max(90vmin, 450px);
    overflow-x: hidden; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% calc((25% - 50px) / 2);
}

section{
    margin: max(10%, 50px) calc((25% - 50px) / 2);  
}

p {
    line-height: 2;
    margin: 30px 0;
    color:  hsl(227, 12%, 61%);
}

a{
    text-decoration: none;
    color: inherit;
}

header ul{
    list-style-type: none;
    list-style: none;
}

header nav{
    width: 50%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: max(12px, 0.5vw + 7px)
}

nav ul a:hover{
    color: hsl(228, 39%, 43%);
}

.btn-started{
    border: none;
    padding: 13px 20px;
    border-radius: 40px;
    font-weight: 800;
    white-space: nowrap;
    background-color: hsl(12, 88%, 59%);
    color: white;
}

.btn-started:hover{
    background-color: hsl(12, 88%, 65%);
    cursor: pointer;
}

#btn-close{
    display: none;
}

.btn-menu{
    display: none;
    border: none;
}

.style-menu-cell{
    background-color: white;
    position: absolute;
    width: 85%;
    height: 350px;
    top: 70px;
    right: 5%;
    padding: 30px 0;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0px 400px 200px 350px  hsla(0, 0%, 0%, 0.43);
}


.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info,
.manage{
    width: 50%;
}

.info p,
.manage p{
    width: 60%;
}

.info h1,
.manage h1{
    font-size: max(2.1rem, 3.5vw);
}

.difference h2{
    font-size: max(2.5vw, 1.5rem);
}

.graphs{
    display: flex;
}

.graphs img{
    width: 100%;
    height: auto;
}

.difference{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.difference ul{
    width: 50%;
    list-style: none;
    counter-reset: cont;
}

.difference li{
    counter-increment: cont;
    display: grid;
    margin-bottom: 30px;
    gap: 20px 20px;
    align-items: center;
}

.difference li p{
    grid-column-start: 2;
    margin: 0;
}

.difference ul li::before {
    content: "0"counter(cont);
    background: hsl(12, 88%, 65%);
    width: 72px;
    padding: 5px 20px;
    border-radius: 40px;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

.testimonials{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
}

.testimonials h2{
    text-align: center;
}

.avatars{
    display: flex;
    width: fit-content;
    margin: max(10%, 100px) 0;
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    width: max(30vw, 300px);
    height: max(25vh, 330px);
    animation: scroll 50s linear 1s infinite;
    background-color: rgb(250, 250, 250);
    padding-top: 1rem;
}

.avatar img{
    width: 75px;
    height: 75px;
    margin-bottom: 2rem;
}

.avatar p{
    width: 80%;
    margin: 20px 0;
}

.testimonials button.btn-started{
    align-self: center;
}

.label-radio label{
    width: 10px;
    height: 10px;
    border: 1px solid hsl(12, 88%, 59%);
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}

.label-radio label:hover{
    background-color: hsl(12, 61%, 68%);
}

.label-radio{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.label-radio label:checked{
    background-color: hsl(12, 88%, 59%);
}


.simplify{
    margin:15vh 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(12, 88%, 59%);
    background-image: url(images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom left 215px;
    padding: 0 calc((25% - 100px) / 2);
    height: 25vh;
}

.simplify h2{
    font-size: max(2.5vw, 25px);
    color: white;
}

.simplify button{
    background-color: white;
    color: hsl(12, 88%, 59%);
}

.simplify button:hover{
    background-color: rgb(221, 221, 221);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(233, 12%, 13%);
    color: white;
    padding: min(10%, 50px) calc((25% - 100px) / 2);
    min-height: 28.5vh;
}

.social{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

footer ul{
    display: grid;
    grid-template-columns: auto auto;
    gap: 17px max(calc(20vw - 80px), 100px);
    list-style: none;
}

footer .right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
    font-size: 1rem;
}

footer form{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer input{
    margin-left: 20px;
    margin-right: 10px;
    font-weight: normal;
    border: none;
    padding: 13px 20px;
    border-radius: 40px;
    white-space: nowrap;
}


@keyframes scroll {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translateX(calc(-33.3vw * 4));
    }
}




@media screen and (max-width: 768px) {
    header, header ul{
        flex-direction: column;
        align-items: center;
    }

    header nav, .btn-header{
        display: none;
    }

    .btn-menu{
        display: block;
        cursor: pointer;
    }

    header nav{
        background-color: white;
        border: 1px solid black;
        font-size: 1rem;
    }

    .intro{
        flex-direction: column-reverse;
    }

    .info, .info p,
    .manage, .manage p{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    h1,
    h2,
    h3{
        text-align: center;
    }

    .graphs img{
        width: 90%;
    }

    .difference{
        flex-direction: column;
    }

    .difference h3{
        display: flex;
        text-align: start;
        background-color: hsl(13, 100%, 96%);
        padding-left: 35px;
        height: 100%;
        width: 100%;
        align-items: center;
        translate: -20px 0;
        z-index: -99;
    }

    .difference ul{
        width: 100%;
    }
    
    .difference li{
        grid-template-columns: 70px auto;
        gap: 20px 0;
    }

    
    .difference ul p{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .label-radio{
        display: flex;
        justify-content: center;
    }

    .avatar{
        animation: none;
        width: 100vw;
        margin: 0;
    }

    .simplify{
        flex-direction: column;
        justify-content: space-evenly;
        background-image: url(/images/bg-simplify-section-mobile.svg);
        background-position: left;
    }

    footer{
        flex-flow: column-reverse;
        gap: 1.5rem;
        padding: 2rem;
    }

    


}